<configuration>
  <system.webServer>
    <handlers>
      <add name="node" path="*" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Astro SSR" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="dist/server/entry.mjs" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>